#include <windows.h>
#include "VersionInfo.h"

1 TYPELIB ".\\project.tlb"

1 ICON "jN.ico"

STRINGTABLE
BEGIN
1 "jN Plugin for Notepad++\n© Eugen Kremer, 2013\nwww.softwarecanoe.de"
END

1 VERSIONINFO
FILEVERSION VERSION_MA,VERSION_MI,REVISION,0 
PRODUCTVERSION VERSION_MA,VERSION_MI,REVISION,0
FILEOS 0x40004 
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0" 
	{
		VALUE "CompanyName", "www.softwarecanoe.de"
		VALUE "FileDescription", "jN Plugin for Notepad++ that allows you to automate certain Tasks with JavaScript"
		VALUE "FileVersion", xstr(_VERSION_STR)
		VALUE "InternalName", "jN.dll"
		VALUE "LegalCopyright", "Copyleft 2011 by Eugen Kremer"
		VALUE "OriginalFilename", "jN.dll"
		VALUE "ProductName", "jN"
		VALUE "ProductVersion", xstr(_VERSION_STR)
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}
